.loginButton{
  display:inline-block;
  padding:0.3em 7em;
  border: 0px;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:500;
  font-size: 18px;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;

  &:disabled {
    background-color: rgba(118, 185, 215, 0.52);
  }

  &:enabled:hover{
    background-color:#4095c6;
  }

  @media all and (max-width:30em) {
    display:block;
    margin:0.2em auto;
  }
}